body {
    font-family: 'Open Sans';
}

.card {
    margin-top: 5.5rem;
}

header.masthead .site-heading {
    color: white;
}

header.masthead .overlay {
    background-color: black;
    opacity: .7;
}
