{% extends 'blog/base.html' %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog It</h1>
            <span class="subheading">Share your stories</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for blog in blog_posts %}
        <div class="post-preview">
          <a href="{% url 'blog-detail' blog.pk %}">
            <h2 class="post-title">
              {{ blog.title }}
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ blog.author }}</a>
            on {{ blog.date_posted }}</p>
        </div>
        <hr>
        {% endfor %}
        
      </div>
    </div>
  </div>
{% endblock %}
